.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/mail.GuerrillaMailApi/**/build/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.log
out/
!**/src/main/**/out/
!**/src/mail.GuerrillaMailApi/**/out/

